

.form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left:10em ;
    margin-top: 2em;
    width: 70%;
    background-color:#FFFFFF;
    padding: 2em;
    z-index: 1100;
    box-shadow:3px 3px 40px rgba(0, 0, 0, 0.2);
    gap:2em;

}

.title{
    font-size:1.5em;
}