.lower-slider{
    width:20rem;
    height:13rem;
    margin-left:2.5;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:0.5rem;

}

.lower-slide{
    width:25rem;
    height:13rem;
    position:static;
}
div.lower-slider{
    margin-left:50rem;
}


