.container{
    display: block;
    width: 98%;
    height: 100%;
    margin-top:0.5rem;
    gap:0.5rem;
}

.top-devider{
    display: flex;
}

.profile{
    flex: "30%";
    gap:1rem;
    align-items: center;
    margin-top: 0.5em;
    
}
.details{
    flex: "70%";
    display: flex;
    flex-direction: column;
    margin-left:1em;
    justify-content: center;
   
}

.devider{
    display: flex;
    flex-direction: row;
    margin-top: 0.1em;
}

.left{
    flex: 35%;
    height:57vh;
    background-color: rgb(231, 245, 245);
}

.right{
    flex: 65%;
    height: 57vh;
    background-color: rgb(221, 232, 232);
}

.description-div{
    margin-top: 1em;
    margin-left: 2em;
}

.image-div{
    margin-top: 1em;
    overflow: hidden;
}

.img{
    height:100%;
    width:100%;
} 

.header{
    font-size:2.5em;
}

.news{
    font-size: large;
}

.position{
    font-size:small;
}

.time{
    font-size: x-small;
}






/* .lower-container{
    display: block;
    width: 13rem;
    height: 5vh;
    margin-top:0.25rem;
}

.lower-profile{
    display:inline-flex;
    gap:0.25rem;
    align-items: center;
    width:0.25rem;
    height:0.25rem;
    
}

.lower-avatar{
    width:0.5rem;
    height:0.5rem;
}

.lower-devider{
    display: flex;
    flex-direction: row;
}

.lower-left{
    flex: 35%;
    height: 100%;
    background-color: rgb(236, 255, 255);
}


.lower-right{
    flex: 65%;
    height:10Vh;
    background-color: rgb(210, 216, 216);
}

.lower-description-div{
    padding: 0.25rem 0.25rem;
}
*/

