.slider-container{
    display: grid;
    place-items: center;
    width: 100%;
    height:70vh;
}

.inner-container{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.x{
    width: 100%;
    height:25rem;
    overflow-x: auto;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider{
    display: flex;
    align-items: center;
}

.slide{
    width:60rem;
    height: 26.5rem;
    box-shadow: black;
    background-color: #243E4F;
    display: none;
    /* place-items: center; */
}

.active{
    display:grid;
    place-items: center;
}

.slider button{
    padding:0.5rem;
    cursor: pointer;
    font-size:1.rem;
}