
.main-container{
    display: flex;
    flex-direction: column;
    gap:0.5em;
    align-items: center;
}

.schedule-container{
    display: flex;
    flex-direction:row;
    align-items: center;
    gap:3.5em;
}

.today{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:250px;
    height: 30vh;
    background-color: rgb(231, 245, 245);
    border-radius: 15px;
    box-shadow:3px 3px 50px rgba(0, 0, 0, 0.2);

}

.tomorrow{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:250px;
    height: 30vh;
    background-color: rgb(231, 245, 245);
    border-radius: 15px;
    box-shadow:3px 3px 50px rgba(0, 0, 0, 0.2);
}

.day-after-tomorrow{
    display:flex;
    flex-direction: column;
    align-items: center;
    width:250px;
    height: 30vh;
    background-color: rgb(231, 245, 245);
    border-radius: 15px;
    box-shadow:3px 3px 50px rgba(0, 0, 0, 0.2);
}

h1{
    font-size:large;
}

.left{
    flex:"10%";
}
.PageContent{
    flex:"90%";
}

.Latest-News{
    font-size: larger;
}

.t-content{
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap:2em;
}